{% extends "base.html" %}
{% block content %}
{% load static i18n compress%}

				<!-- Page header -->
				<div class="page-header page-header-default page-header-xs">
					<div class="page-header-content">
						<div class="page-title">
							<h4>
							<i class="icon-coins position-left"></i>
							<span class="text-semibold">Купить AGRO токены &mdash; Оплата криптовалютой</span></h4>
						</div>
						<!-- <div class="heading-elements">
							<a href="#" class="btn btn-labeled btn-labeled-right bg-blue heading-btn">Button <b><i class="icon-menu7"></i></b></a>
						</div> -->
					</div>

				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">


					<div class="alert alert-info alert-styled-left">
						Exact AGRO amount will be calculated at time of transaction.</div>

					<div class="row">
						<div class="col-lg-6">
							<div class="panel panel-body panel-calc">
								<div class="row text-center">
									<div class="col-xs-5">
										<p><img class="img-currency" src="{% static '/images/crypto/btc.png' %}"></p>
										<big class="text-semibold">
											<a href="#" class="editable-text" data-currency="BTC"></a> BTC</big>
									</div>
									<div class="col-xs-2">
										<p class="pt-5"><i class="icon-arrow-right16 icon-3x opacity-25"></i></p>
		  							</div>
									<div class="col-xs-5">
										<p><img class="img-currency" src="{% static '/images/001.png' %}"></p>
										<big class="text-semibold"><a href="#" class="editable-text" data-currency="AGRO"></a> AGRO</big>
									</div>
								</div>
								<hr>
								<div class="text-center">
									<!-- <div class="text-muted">Адрес для приема платежа:</div> -->
									<div class="text-muted">Send the desired amount of BTC to the address</div>
									<big>{{ btc.address }}</big>
									<p><img src="{% static '/images/qr-code.png' %}"></p>
								</div>
							</div>
						</div>

							<!-- <div class="panel panel-body">
								<div class="row text-center">
									<div class="col-xs-5">
										<p><img src="{% static '/images/crypto/btc.png" style="height: 50px;"></p>
										<h5 class="text-semibold no-margin">0.00224114 <span class="text-muted">BTC</span></h5>
									</div>
									<div class="col-xs-2">
										<p class="pt-5"><i class="icon-arrow-right16 icon-3x opacity-25"></i></p>
		  							</div>
									<div class="col-xs-5">
										<p><img src="{% static '/images/logo-icon-color.svg" style="height: 50px;"></p>
										<h5 class="text-semibold no-margin">10 ERA</h5>
									</div>
								</div>
								<hr>
								<div class="text-center">
									<div class="text-muted">Адрес для приема платежа:</div>
									<big>1NZJ9As3r1FBAFWHPqrt5vQtvN7HG7W5Yf</big>
								</div>
							</div> -->

						<div class="col-lg-6">
							<div class="panel panel-body panel-calc">
								<div class="row text-center">
									<div class="col-xs-5">
										<p><img class="img-currency" src="{% static '/images/crypto/eth.png' %}"></p>
										<big class="text-semibold"><a href="#" class="editable-text" data-currency="ETH"></a> ETH</big>
									</div>
									<div class="col-xs-2">
										<p class="pt-5"><i class="icon-arrow-right16 icon-3x opacity-25"></i></p>
									</div>
									<div class="col-xs-5">
										<p><img class="img-currency" src="{% static '/images/001.png' %}"></p>
										<big class="text-semibold"><a href="#" class="editable-text" data-currency="AGRO"></a> AGRO</big>
									</div>
								</div>
								<hr>
								<div class="text-center">
									<div class="text-muted">Адрес для приема платежа:</div>
									<big>{{ eth.address }}</big>
									<p><img src="{% static '/images/qr-code.png' %}"></p>
								</div>
							</div>
						</div>
					</div>
					<!--div class="row">
						<div class="col-lg-6">
							<div class="panel panel-body panel-calc">
								<div class="row text-center">
									<div class="col-xs-5">
										<p><img class="img-currency" src="{% static '/images/crypto/ltc.png' %}"></p>
										<big class="text-semibold"><a href="#" class="editable-text" data-currency="LTC"></a> LTC</big>
									</div>
									<div class="col-xs-2">
										<p class="pt-5"><i class="icon-arrow-right16 icon-3x opacity-25"></i></p>
									</div>
									<div class="col-xs-5">
										<p><img class="img-currency" src="{% static '/images/001.png' %}"></p>
										<big class="text-semibold"><a href="#" class="editable-text" data-currency="AGRO"></a> AGRO</big>
									</div>
								</div>
								<hr>
								<div class="text-center">
									<div class="text-muted">Адрес для приема платежа:</div>
									<big>LMNTy7b1UuY1PzB8FbAgzEP5dU9hs1AxrK</big>
									<p><img src="{% static '/images/qr-code.png' %}"></p>
								</div>
							</div>
						</div>
					</div-->

					<!-- Footer -->
					<div class="footer text-muted">
						&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

{% endblock content %}

{% block included_js %}
<script>
$(function() {

	app.initCalc();

});
</script>
{% endblock included_js %}