{% extends "index_base.html" %}
{% load static users i18n progress_bar %}
{% block content %}
<br />
<br />
<br />
<div class="container mt-5">

	<div class="progress">
		<div class="progress-bar bg-progressbar" role="progressbar" style="width: {% percent %}%" aria-valuenow="{% percent %}" aria-valuemin="0" aria-valuemax="100"></div>
	</div>

	<div class="d-flex justify-content-between" style="font-size: 1rem">	

		<span> {% sold %} LCD </span>
		<span> {% trans 'Hardcap' %} {% all %} LCD </span>

	</div>

</div>
<br />
<br />
<div class="container mt-5 mb-5">

	<div class="row" style="text-align: center">

		<div class="col-xs-6 col-lg-6 mt-5">
			<spam>BTC</spam>
			<!--img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={% user_btc %}"-->
			<div id="divbtcqrcode" class="mt-2">
				<div id="btcqrcode" class="d-flex justify-content-center">
					<a id="btcHref" href="bitcoin:{% user_btc %}?amount=1"></a>
				</div>
			</div>
			<p class="mt-2" style="font-size: 0.75rem">{% user_btc %}</p>
			<input style="width: 15rem" id="btcAmount" type="text">
		</div>
		
		<div class="col-xs-6 col-lg-6 mt-5">
			<spam>ETH</spam>
			<div id="divethqrcode" class="mt-2">
				<div id="ethqrcode" class="d-flex justify-content-center">
					<a id="ethHref" href="ethereum:{% user_eth %}?value=1"></a>
				</div>
			</div>
			<p class="mt-2" style="font-size: 0.75rem">{% user_eth %}</p>
			<input style="width: 15rem" id="ethAmount" type="text">
		</div>

	</div>

</div>
{% endblock content %}

{% block include_js %}
<script>
$('#btcAmount').on('input',function(e){
	$('#btcqrcode').remove();
	var btcqrcode = document.createElement('div');
	btcqrcode.setAttribute('class', 'd-flex justify-content-center');
	btcqrcode.setAttribute('id', 'btcqrcode')
	var btcqrcodea = document.createElement('a');
	btcqrcodea.setAttribute('id', 'btcHref');
	$('#divbtcqrcode').append(btcqrcode);
	$('#btcqrcode').append(btcqrcodea);
	var btcamount = $(this).val();
	var btcHref = "bitcoin" + ":" + "{% user_btc %}?amount=" + btcamount + "&message=buy%20LCD";
	$('#btcHref').attr('href', btcHref);
	$('#btcqrcode a').qrcode({ 
		render: 'image',
		text: btcHref,
		ecLevel: 'L',
		size: "203"
	});
});
$('#ethAmount').on('input',function(e){
	$('#ethqrcode').remove();
	var ethqrcode = document.createElement('div');
	ethqrcode.setAttribute('class', 'd-flex justify-content-center');
	ethqrcode.setAttribute('id', 'ethqrcode')
	var ethqrcodea = document.createElement('a');
	ethqrcodea.setAttribute('id', 'ethHref');
	$('#divethqrcode').append(ethqrcode);
	$('#ethqrcode').append(ethqrcodea);
	var ethamount = $(this).val();
	var ethHref = "ethereum" + ":" + "{% user_eth %}?value=" + ethamount + "&message=buy%20LCD";
	$('#ethHref').attr('href', ethHref);
	$('#ethqrcode a').qrcode({ 
		render: 'image',
		text: ethHref,
		ecLevel: 'L',
		size: "203"
	});
});
$(document).ready(function(){
	$('#btcqrcode a').qrcode({ 
		render: 'image',
		text: "{% user_btc %}",
		ecLevel: 'L',
		size: "203"
	});

	$('#ethqrcode a').qrcode({ 
		render: 'image',
		text: "{% user_eth %}",
		ecLevel: 'L',
		size: "203"
	});	
});
</script>
{% endblock include_js %}

