{% extends "index_base.html" %}
{% load static users i18n progress_bar %}
{% block content %}
<br />
<br />
<br />
<div class="container mt-5">

	<div class="progress">
		<div class="progress-bar bg-progressbar" role="progressbar" style="width: {% percent %}%" aria-valuenow="{% percent %}" aria-valuemin="0" aria-valuemax="100"></div>
	</div>

	<div class="d-flex justify-content-between" style="font-size: 1rem">	

		<span> {% sold %} LCD </span>
		<span> {% trans 'Hardcap' %} {% all %} LCD </span>

	</div>

</div>
<br />
<br />
<div class="container mt-5">

	<div class="row" style="text-align: center">

		<div class="col-xs-6 col-lg-6">
			<spam>BTC</spam>
			<!--img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={% user_btc %}"-->
			<div id="btcqrcode" class="mt-2">
				<div id="qrcode" class="d-flex justify-content-center">
					<a id="btcHref" href="bitcoin:{% user_btc %}?amount=1"></a>
				</div>
			</div>
			<p class="mt-2" style="font-size: 0.75rem">{% user_btc %}</p>
			<input style="width: 15rem" id="btcAmount" type="text">
		</div>
		
		<div class="col-xs-6 col-lg-6">
			<spam>ETH</spam>
			<img src="">
			<p style="font-size: 0.75rem">{% user_eth %}</p>
		</div>

	</div>

</div>
{% endblock content %}

{% block include_js %}
<script>
$('#btcAmount').on('input',function(e){
	//$('btcHref').find('table').remove();
	$('#qrcode').remove();
	var qrcode = document.createElement('div');
	qrcode.setAttribute('class', 'd-flex justify-content-center');
	qrcode.setAttribute('id', 'qrcode')
	var qrcodea = document.createElement('a');
	qrcodea.setAttribute('id', 'btcHref');
	$('#btcqrcode').append(qrcode);
	$('#qrcode').append(qrcodea);
	var amount = $(this).val();
	var btcHref = "bitcoin" + ":" + "{% user_btc %}?amount=" + amount + "&message=buy%20LCD";
	$('#btcHref').attr('href', btcHref);
	$('#qrcode a').qrcode({ 
		render: 'image',
		text: btcHref,
		ecLevel: 'L',
		size: "203"
	});
});
$(document).ready(function(){
	$('#qrcode a').qrcode({ 
		render: 'image',
		text: "{% user_btc %}",
		ecLevel: 'L',
		size: "203"
	});
});
</script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/javascript" src="{% static 'js/ethereum-qr-code.min.js' %}"></script>
<script type="text/javascript">

alert(qr);

</script>

{% endblock include_js %}