{% extends "index_base.html" %}
{% load cache static users i18n progress_bar %}
{% block content %}
<br />
<br />
<br />
	<style>
		
        .bg-progressbar {
			background: #5a40fc;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #5a40fc, #5a40fc);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #5a40fc, #5a40fc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}		

	</style>
	{% cache 60 sidebar request.user.username %}
	<div class="container">
										<div class="d-flex justify-content-between mt-5" style="font-size: 1rem">	

											<span>{% trans 'Tokens sold (presale)' %}</span>
											<span>{#% trans 'Updates automatically every 60 sec' %#}</span>

										</div>

                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="background: #ff3547; width: {% half_percent %}%" aria-valuenow="{% half_percent %}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                        <div class="d-flex justify-content-between" style="font-size: 1rem">    

                                            <span> {% half_sold %} LCD </span>
                                            <span> {% trans 'Softcap' %} {% half_all %} LCD </span>

                                        </div>

                                        <div class="d-flex justify-content-between mt-5" style="font-size: 1rem">   

                                            <span>{% trans 'Tokens sold (crowdsale)' %}</span>
                                            <span>{#% trans 'Updates automatically every 60 sec' %#}</span>

                                        </div>

										<div class="progress">
										    <div class="progress-bar bg-progressbar" role="progressbar" style="width: {% full_percent %}%" aria-valuenow="{% full_percent %}" aria-valuemin="0" aria-valuemax="100"></div>
										</div>

										<div class="d-flex justify-content-between" style="font-size: 1rem">	

											<span> {% full_sold %} LCD </span>
											<span> {% trans 'Hardcap' %} {% full_all %} LCD </span>

										</div>
	</div>


	<div class="container mt-5 mb-5" style="text-align: center">
		<h3> LUCYD WALLET ADDRESS<h3>
		<h4>0x7effF8fBA471CC125D5eC81A3C8625DB8ACfD78D<h4>
		<a class="btn btn-light-blue bg-progressbar waves-effect waves-light" href="https://etherscan.io/address/0x7effF8fBA471CC125D5eC81A3C8625DB8ACfD78D">TRACK YOUR PURCHASE</a>
	</div>

	<div class="container mt-5 mb-5">

		<div class="row" style="text-align: center">

			<div class="col-xs-6 col-lg-6 mt-5 d-flex justify-content-center">
				<div>
					<spam>BTC</spam>
					<!--img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={% user_btc %}"-->
					<div id="divbtcqrcode" class="mt-2">
						<div id="btcqrcode">
							<a id="btcHref" href="bitcoin:{% user_btc %}?amount=1"></a>
						</div>
					</div>
					<p class="mt-2" style="font-size: 0.75rem">{% user_btc %}</p>
					<div class="d-flex justify-content-center">
						<div class="">
							<div class="md-form" style="width: 15rem">
								<input id="btcAmount" type="text">
								<label for="btcAmount">{% trans 'BTC amount' %}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-6 col-lg-6 mt-5 d-flex justify-content-center">
				<div class="">
					<spam>ETH</spam>
					<div id="divethqrcode" class="mt-2 d-flex justify-content-center">
						<div id="ethqrcode">
							<a id="ethHref" href="ethereum:{% user_eth %}?value=1"></a>
						</div>
					</div>
					<p class="mt-2" style="font-size: 0.75rem">0x{% user_eth %}</p>
					<div class="d-flex justify-content-center">
						<div class="">
							<div class="md-form" style="width: 15rem">
								<input id="ethAmount" type="text">
								<label for="ethAmount">{% trans 'ETH amount' %}</label>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	{% endcache %}
	<br />
	<br />
	<br />

	<div class="container">
		
		<img style="width: 100%; height: 100%" src="{% static 'images/Screenshot_2017-10-03_17:21:11.png' %}">
		
		<img style="width: 100%; height: 100%" class="mt-5" src="{% static 'images/token-info-web.png' %}">

		<p style="text-align: center">
			Want to learn more about the LCD token, and Lucyd’s mission to decentralize AR first?  Visit our blog, read our whitepaper, or check out the new Cointelegraph article on us! We have the tech and team of optics experts to bring AR to the mass market.<br/><br/>
			The foundation of Lucyd is our technology, which is the result of years of well-funded research at the esteemed <a href="http://www.creol.ucf.edu/">College of Optics and Photonics</a> at UCF.<br/>
			Furthermore, the lead inventor of our patents, renowned optics researcher Dr. Jannick Rolland, is on hand as a Lucyd science advisor.<br/><br/>
			Have questions about any of the above? Shoot us an email at info@lucyd.co for a prompt, human response.
			Thanks for your time, and welcome to Lucyd.<br/><br/>
			NOTICE: The LCD token is not a stock or security. It does not entitle you to share of any profits, it’s main intended purpose is to facilitate peer-to-peer transactions in the world of our AR smartglasses, and to help us fund their initial development.<br/><br/>
		</p>

		<div style="text-align: center">

			<button class="btn btn-light-blue bg-progressbar waves-effect waves-light"><i class="fa fa-money mr-1"></i> TERMS & CONDITIONS</button>
		</div>

		<p class="mt-3" style="text-align: center">
			
			Watch this interview with our Commercialization Lead for some useful insights on Lucyd’s mission and tech advantage.

		</p>
		<div class="md-5" style="text-align: center">
			<h3 class="mt-5">Exclusively <span style="color:#5a40fc; font-size: 2rem">Licensed LUCYD Patents</span></h3>
		</div>
		<div class="md-5">
			<table class="table table-hover" width="100%">
				<thead>
					<tr>
						<th align="left"><strong>USPTO Link</strong></th>
						<th align="left">US Patent Number</th>
						<th align="left"><strong>Title</strong></th>
					</tr>
				</thead>
			<tbody>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=6,731,434.PN.&amp;OS=PN/6,731,434&amp;RS=PN/6,731,434">Patent 1</a></strong></td>
					<td align="left">6,731,434</td>
					<td align="left">Compact Lens Assembly for the Teleportal Augmented Reality System</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=6,804,066.PN.&amp;OS=PN/6,804,066&amp;RS=PN/6,804,066">Patent 2</a></strong></td>
					<td align="left">6,804,066</td>
					<td align="left">Compact Lens Assembly for the Teleportal Augmented Reality System (CIP)</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=6,927,694.PN.&amp;OS=PN/6,927,694&amp;RS=PN/6,927,694">Patent 3</a></strong></td>
					<td align="left">6,927,694</td>
					<td align="left">Algorithm for monitoring head/eye motion for driver alertness with one camera</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=6,963,454.PN.&amp;OS=PN/6,963,454&amp;RS=PN/6,963,454">Patent 4</a></strong></td>
					<td align="left">6,963,454</td>
					<td align="left">Head-mounted Display by Integration of Phase-Conjugate Material</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=6,999,239.PN.&amp;OS=PN/6,999,239&amp;RS=PN/6,999,239">Patent 5</a></strong></td>
					<td align="left">6,999,239</td>
					<td align="left">Head Mounted Display by Integration of Phase Conjugate Material DIV</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=7,009,773.PN.&amp;OS=PN/7,009,773&amp;RS=PN/7,009,773">Patent 6</a></strong></td>
					<td align="left">7,009,773</td>
					<td align="left">Compact Microlenslet Arrays Imager</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=7,088,457.PN.&amp;OS=PN/7,088,457&amp;RS=PN/7,088,457">Patent 7</a></strong></td>
					<td align="left">7,088,457</td>
					<td align="left">Iterative Least-Squares Wavefront estimation for general pupil shapes</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=7,119,965.PN.&amp;OS=PN/7,119,965&amp;RS=PN/7,119,965">Patent 8</a></strong></td>
					<td align="left">&nbsp;7,119,965</td>
					<td align="left">Head Mounted Projection Display with a Wide Field of View</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=7,499,217.PN.&amp;OS=PN/7,499,217&amp;RS=PN/7,499,217">Patent 9</a></strong></td>
					<td align="left">7,499,217</td>
					<td align="left">Imaging System for Eyeglass-Based Display Devices</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=7,522,344.PN.&amp;OS=PN/7,522,344&amp;RS=PN/7,522,344">Patent 10</a></strong></td>
					<td align="left">7,522,344</td>
					<td align="left">Projection based Head Mounted Display with Eye-Tracking Capabilities</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=7,639,208.PN.&amp;OS=PN/7,639,208&amp;RS=PN/7,639,208">Patent 11</a></strong></td>
					<td align="left">7,639,208</td>
					<td align="left">Compact Optical See-Through Head-Mounted Display with Occlusion Support</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=7,843,642.PN.&amp;OS=PN/7,843,642&amp;RS=PN/7,843,642">Patent 12</a></strong></td>
					<td align="left">7,843,642</td>
					<td align="left">Systems and Methods for Providing Compact Illumination in Head Mounted Displays</td>
				</tr>
				<tr>
					<td align="left"><strong><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=7,969,657.PN.&amp;OS=PN/7,969,657&amp;RS=PN/7,969,657">Patent 13</a></strong></td>
					<td align="left">7,969,657</td>
					<td align="left">Imaging Systems for Eyeglass-Based Display Devices</td>
				</tr>
			</tbody>
			</table>
		</div>		

	</div>


<br />
<br />

{% endblock content %}

{% block include_js %}
<script>
$('#btcAmount').on('input',function(e){
	$('#btcqrcode').remove();
	var btcqrcode = document.createElement('div');
	btcqrcode.setAttribute('class', 'd-flex justify-content-center');
	btcqrcode.setAttribute('id', 'btcqrcode')
	var btcqrcodea = document.createElement('a');
	btcqrcodea.setAttribute('id', 'btcHref');
	$('#divbtcqrcode').append(btcqrcode);
	$('#btcqrcode').append(btcqrcodea);
	var btcamount = $(this).val();
	var btcHref = "bitcoin" + ":" + "{% user_btc %}?amount=" + btcamount + "&message=buy%20LCD";
	$('#btcHref').attr('href', btcHref);
	$('#btcqrcode a').qrcode({ 
		render: 'image',
		text: btcHref,
		ecLevel: 'L',
		size: "203"
	});
});
$('#ethAmount').on('input',function(e){
	$('#ethqrcode').remove();
	var ethqrcode = document.createElement('div');
	ethqrcode.setAttribute('class', 'd-flex justify-content-center');
	ethqrcode.setAttribute('id', 'ethqrcode')
	var ethqrcodea = document.createElement('a');
	ethqrcodea.setAttribute('id', 'ethHref');
	$('#divethqrcode').append(ethqrcode);
	$('#ethqrcode').append(ethqrcodea);
	var ethamount = $(this).val();
	var ethHref = "ethereum" + ":" + "0x{% user_eth %}?value=" + ethamount + "&message=buy%20LCD";
	$('#ethHref').attr('href', ethHref);
	$('#ethqrcode a').qrcode({ 
		render: 'image',
		text: ethHref,
		ecLevel: 'L',
		size: "203"
	});
});
$(document).ready(function(){

	$('#btcqrcode a').qrcode({ 
		render: 'image',
		text: "{% user_btc %}",
		ecLevel: 'L',
		size: "203"
	});

	$('#ethqrcode a').qrcode({ 
		render: 'image',
		text: "{% user_eth %}",
		ecLevel: 'L',
		size: "203"
	});	

});
</script>
{% endblock include_js %}

